.testimonial > * {
  width: 33.33%;
  margin-right: 2rem;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}
.hamburger__bottom-bun {
  transform: translateY(3px);
}
